<div data-controller="users-signUp">
  <div>
    <%= render partial: 'shared/inputs/modal_header', locals: { title: "Sign Up"
    } %>
    <div class="pt-4">
      <h4 class="text-2xl leading-6 text-gray-900 mt-2 font-medium">
        Welcome to Airbnb
      </h4>
      <div class="font-light py-1 text-neutral-500 mt-2">
        Create an account!
      </div>
      <form>
        <%= render partial: 'shared/inputs/input', locals: { 
          inputName: "name",
          inputType: "text", 
          inputId: "name", 
          labelTarget:"nameLabel", 
          labelText: "Name", 
          errorMessageTarget: "nameErrorMessage", 
          invalidSvg: "invalidSvgName" }%>
        <%= render partial: 'shared/inputs/input', locals:{ 
          inputName: "email", 
          inputType: "email", 
          inputId: "email", 
          labelTarget: "emailLabel", 
          labelText: "Email", 
          errorMessageTarget: "emailErrorMessage", 
          invalidSvg: "invalidSvgEmail" }%>
        <%= render partial: 'shared/inputs/input', locals: { 
          inputName: "password",
          inputType: "password", 
          inputId: "password", 
          labelTarget: "passwordLabel", 
          labelText: "Password", 
          errorMessageTarget: "passwordErrorMessage", 
          invalidSvg: "invalidSvgPassword" }%>
        <div class="my-4 sm:my-6">
          <button
            data-users-signUp-target="submit"
            type="submit"
            class="relative disabled:opacity-70 disabled:cursor-not-allowed rounded-lg hover:opacity-80 transition w-full bg-rose-500 border-rose-500 text-white text-md py-3 ont-semibold border-2"
          >
            Continue
          </button>
        </div>
      </form>
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="px-2 bg-white text-sm text-gray-500"> or </span>
        </div>
      </div>
      <%= render partial: 'shared/inputs/google_button' %>
      <div class="text-neutral-500 text-center mt-4 font-light">
        <p>
          Already have an account?
          <span
            class="text-neutral-800 cursor-pointer hover:underline"
            data-users-signUp-target="openLoginModal"
            >Log in</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
